
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Text.Json;



@{
    //List<Product> repositories = new List<Product>();

    //private async void callList()
    //{
    //    private static readonly HttpClient client = new HttpClient();
    //    Task<System.IO.Stream> streamTask1 = client.GetStreamAsync("/api/ProductCategory");
    //    Task<System.IO.Stream> msg = await streamTask1;
    //    repositories = JsonSerializer.Deserialize<List<Product>>(msg);
    //}

    
    ////Get the Film URL Id's
    //foreach (var itm in repositories)
    //{
    //<span>@itm.</span>
    //}

}

